
body {
    background-color: rgb(255, 255, 255);
}

header {
     border-bottom: 2px solid #000000; 
     min-height: 70px;
     ;
}

header img {
    max-height: 70px;
    justify-content: flex-start;
}

#hero  {
    
    display: flex;
    left: 50%;
   
}

#hero h2 {
    color: rgb(111, 107, 102);
    font-size: 100px;
    font-family: "League Spartan";
    margin-top: 1;
  margin-bottom: 0;
}

#dev-motion-designer h2 {
    color: rgb(0, 0, 0);
    font-size: 200px;
    font-family: "League Spartan";
    margin-top: 0;
    margin-bottom: 0;
}


#bio {
    min-height: 600px;
    border: 2px solid #000000;
    border-radius: 30px;
   background: radial-gradient(circle, #c3e1ff, #fff3d0);
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-family: Geneva;
}


.zalando-sans-semiexpanded-<uniquifier> {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.league-spartan-<uniquifier> {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* 
 FOOTER FOOTER FOOTER FOOTER */


footer {
    min-height: 600px;
    background-color: #000000;
    
    
}

#footer-text {
    display: flex;
    color: #fff;
flex-direction: column;
font-size: 23px;
}

#footer-logo  {
    width: 400px;
}

#x-icon {
    width: 60px;
}

#insta-icon {
    width: 60px;
}

#linkedin-icon {
    width: 67px;
}

#youtube-icon {
    width: 64px;
    margin-left: 10px;
}

#socials {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#socials img {
    margin-right: 20px;
}

#footer-buttons button {
    background-color: #525252;
    color: white;
    margin-right: 20px;
    max-width: 450px;
    padding: 20px 47px;
    border-radius: 70px;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid white; 
    margin-top: 7px;
    font-family: "League Spartan";
}

#footer-buttons h2 {
    color: #ffffff;
    font-size: 40px;
    margin-top: 45px;
    font-family: "League Spartan";
}

#footer-contact p {
    color: white;
    font-size: 30px;
    font-family: "League Spartan";
}

#footer-contact button {
    background-color: #696969;
    color: white;
    font-family: "League Spartan";
    margin-right: 40px;
    max-width: 450px;
    
    padding: 20px 137px;
    border-radius: 70px;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid white; 
    margin-top: 50px;
}