
body {
    background-color: rgb(255, 255, 255);
}

/* header {
     border-bottom: 2px solid #000000; 
     min-height: 70px;
     ;
}

header img {
    max-height: 70px;
    justify-content: flex-start;
} */

/* INDUSTRY HEADER  INDUSTRY HEADER   */

header {
      border-bottom: 2px solid #000000; 
     min-height: 70px;
    margin-bottom: 20px;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: white;
}

header h2 {
    font-family: 'Anton', sans-serif;
}

.logo {
    max-width: 100%;
    height: auto;
    
    
    max-width: 69px;
}

/* mobile logo  */
.logo {
  width: 200px;
  height: auto;
}

/* tablet logo */
@media (min-width: 768px) {
  .logo {
    width: 220px;
  }
}

/* desktop logo  */
@media (min-width: 1024px) {
  .logo {
    width: 250px;
  }
}

/*  vav styles */
#nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#nav a {
    text-decoration: none;
    color: #000000;
}

/* nav menu */
.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}


/* burg nav styles  */
.nav-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 1001;
}

.nav-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background: #000000;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: flex;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        height: 100vh;
      
       background-color: rgba(255, 255, 255, 0.934);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
        transition: right 0.3s ease;
        z-index: 1000;
    }

    .nav-menu a {
        color: white
    }

    .nav-menu.running {
        left: 0;
    }

    .nav-toggle.running span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
    }
    .nav-toggle.running span:nth-child(2) {
        opacity: 0;
    }
    .nav-toggle.running span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

     /* showcase section mobile */

    .showcase {
        flex: 0 0 calc(50% - 10px);
    }
}



#hero  {
    
    display: flex;
    left: 50%;
   
}

#hero h2 {
    color: rgb(111, 107, 102);
    font-size: 80px;
    font-family: "League Spartan";
   
  margin-bottom: 0;
}

#dev-motion-designer h3 {
    color: rgb(0, 0, 0);
    font-size: 80px;
    font-family: "League Spartan";
    margin-top: 0;
    margin-bottom: 0;
}




.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-family: Geneva;
}





#bio {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 90px;
    min-height: 600px;
    border: 2px solid #000000;
    border-radius: 30px;
    background: radial-gradient(circle, #c3e1ff, #fff3d0);
}



#bio-text p {
    max-width: 500px;
     justify-content: center;
     text-align: center;
    
}

/* VIDEO VIDEO VIDEO */

.hero-video-1 video {
    max-width: 500px;
    border-radius: 20px;
    border: 2px solid #000000; 
    margin-bottom: 40px;
     margin-top: 40px;
}

/* .hero-video-1 {
    grid-column: 1 / -1;     
    margin: 0;
    padding: 0;
  } */
  
  /* .hero-video-1 video {
    margin: 0;
    padding: 0;
    width: 100%;        
    object-fit: cover;
    display: block;      
  } */

/* 

/* DESIGN  WORKS PREVIEW  */

#design-section {
    display: flex;
      flex-direction: column;
    border: 2px solid #000000;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 30px;
    margin-bottom: 40px;
   background: radial-gradient(circle, #c3e1ff, #fff3d0);
}

#design-divs {
    display: flex;
    flex-direction: row;
}

#design-work1  {
    max-width: 200px;
     border: 2px solid #000000;
      border-radius: 30px;
     min-height: 200px;
     
     margin-right: 16px;
     margin-left: 16px;
      background-size: contain;
       background: url(../images/strawberries-7249448_640.jpg) no-repeat;
}

#design-work2  {
     border: 2px solid #000000;
      border-radius: 30px;
   max-height: 200px;
   
     background: url(../images/helicopter-2116170_640.jpg) no-repeat;
    
}

/* DEV  WORKS PREVIEW  */

#dev-section {
   display: flex;
      flex-direction: column;
    border: 2px solid #000000;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 30px;
    margin-bottom: 40px;
   background: radial-gradient(circle, #c3e1ff, #fff3d0);
}

#dev-divs {
    display: flex;
    flex-direction: row;
}

#dev-work1  {
    max-width: 200px;
     border: 2px solid #000000;
      border-radius: 30px;
    background: url(../images/strawberries-7249448_640.jpg) no-repeat;
     margin-right: 16px;
     margin-left: 16px;
}

#dev-work2  {
     border: 2px solid #000000;
      border-radius: 30px;
        background: url(../images/helicopter-2116170_640.jpg) no-repeat;
  
    
}





 /* FOOTER FOOTER FOOTER FOOTER */ 


footer {
    min-height: 600px;
    background-color: #000000;
    padding-top: 30px;
    
}

#footer-text {
    display: flex;
    color: #fff;
flex-direction: column;
font-size: 23px;
}

#footer-logo  {
    width: 400px;
}

#x-icon {
    width: 60px;
}

#insta-icon {
    width: 60px;
}

#linkedin-icon {
    width: 67px;
}

#youtube-icon {
    width: 64px;
    margin-left: 10px;
}

#socials {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#socials img {
    margin-right: 20px;
}

#footer-buttons button {
    background-color: #000000;
    color: white;
    margin-right: 20px;
    max-width: 450px;
    padding: 20px 47px;
    border-radius: 70px;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid white; 
    margin-top: 7px;
    font-family: "League Spartan";
}

#footer-buttons h2 {
    color: #ffffff;
    font-size: 40px;
    margin-top: 45px;
    font-family: "League Spartan";
}

#footer-contact p {
    color: white;
    font-size: 30px;
    font-family: "League Spartan";
}

#footer-contact button {
    background-color: #000000;
    color: white;
    font-family: "League Spartan";
    margin-right: 40px;
    max-width: 450px;
    
    padding: 20px 137px;
    border-radius: 70px;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid white; 
    margin-top: 50px;
}