@font-face {
  font-family: "cantarellregular";
  src: url("../fonts/cantarell_regular-webfont.woff2") format("woff2"), url("../fonts/cantarell_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  /* background: radial-gradient(circle, #c3e1ff, #fff3d0); */
  
  background:
    radial-gradient(circle at 20% 30%, #ffe5e3, transparent 90%),
    radial-gradient(circle at 40% 40%, rgb(136, 191, 255), transparent 70%),
    radial-gradient(circle at 50% 80%, rgb(234, 234, 234), transparent 60%),
    radial-gradient(circle at 10% 70%, rgb(164, 179, 218), transparent 70%),
    radial-gradient(circle at 70% 20%, rgb(255, 188, 136), transparent 60%);
  background-color: #111;
  background-repeat: repeat;


}


// lets work

.letswork{
  
  text-align: center;
  
}

.letswork  a {
  
  text-decoration: none;
  font-size: 20px;
  font-family: "league spartan";
  color: rgb(99, 99, 99);
  
  padding: 20px;
  // border: 2px solid rgb(99, 99, 99);
   box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.121);
  

  border-radius: 12px;
}

.letswork-btn {
margin-top: 60px;
}

.letswork li {
 
  list-style: none;
}


/* HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO  */

#hero {
  display: flex;
  left: 50%;
}

#hero h2 {
  color: rgba(255, 255, 255, 0);
  font-size: 134px;
  font-family: "League Spartan";
  margin-bottom: 0;
 -webkit-text-stroke: 3px black;
}

#dev-motion-designer h3 {
  color: rgb(3, 3, 3);
  font-size: 150px;
  font-family: "League Spartan";
  margin-top: 0;
  margin-bottom: 0;
}


@media (max-width: 767px) {
  #hero h2 {
    font-size: 54px;
    line-height: 1;
    margin-left: 10px;
  }

  #dev-motion-designer h3 {
    font-size: 44px;
    line-height: 1;
    margin-left: 10px;
  }
}

#bio {
  margin-top: 60px;

}

#headshot {
  max-width: 160px;
height:160px ;
margin-right: 15px;
  border-radius: 90px;
}

#bio-text {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  min-height: 200px;
  max-width: 800px;
  // border: 6px solid #ffffff;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.121);
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

#bio-text p {
  /* max-width: 500px; */
 
  // max-width: 600px;
  text-align: left;
  font-family: "league spartan";
 font-size: 25px;
 font-weight: 330;
  color: rgb(167, 167, 167);
  
}


/* VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO */

.hero-video {
  max-width: 800px;
  border-radius: 22px;
  //  border: 6px solid #ffffff;
     box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
}

.video-container {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  
}

#videosection {
  margin-bottom: 60px;

}


/* SCROLLING BANDS SCROLLING BANDS SCROLLING BANDS SCROLLING BANDS SCROLLING BANDS */

.strip-section {
  
  margin-top: 120px;
}

.scrolling-strip {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px 0;
  
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "League Spartan";
}

.scrolling-text span {
  margin: 0 24px;
}

#top-stripe {
border-top: 1px solid #00ffc300;
  border-bottom: 3px solid rgb(116, 116, 116);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(79, 79, 79);
  padding-top: 90px;
}


#bottom-stripe   {
  
background-color: rgb(0, 0, 0);
    color: rgb(133, 133, 133);
     border-bottom: 1px solid #afafaf00;
     font-weight: 10;
     padding-top: 26px;
}

/* PROJECTS PAGE    PROJECTS PAGE   PROJECTS PAGE   PROJECTS PAGE   PROJECTS PAGE   PROJECTS PAGE   PROJECTS PAGE    */

.section-title {
  text-align: left;
  font-family: "league spartan";
  font-size: 30px;
  font-weight: 400;
  color: rgb(104, 104, 104);
  margin-top: 40px;
}


.projects-section {
  // padding: 40px 0;
  // margin-top: 200px;
  margin-bottom: 100px;
  background-color: rgb(0, 0, 0);
  border-top: 6px black;
  box-shadow: -2px 4px 9px rgba(0, 0, 0, 0.313);
  min-height: 1000px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  gap: 50px;
  justify-items: center;
  margin-top: 50px;
  
  
}

.project-item {
  text-align: center;
 background: linear-gradient(to right, #161616, #1b1b1b);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid #4842429b;
  // border: none;
  min-width: 524px;
}

.project-box {
  width: 500px;
  height: 250px;
  background-color: #00000027;
  background-color: #00000000;
  border-radius: 35px;
  // display: flex;
  
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.project-box:hover {
  transform: scale(1.05);
}

.project-img {
  width: 220px;
  height: 220px;
  border-radius: 18px;
  object-fit: cover;
}

.project-label {
  margin-top: 10px;
  font-size: 20px;
  font-family: "league spartan";
  color: rgb(203, 203, 203);
  max-width: 500px;
  font-weight: 500;
}

@media (max-width: 1167px) {
  .project-grid {
      grid-template-columns: 1fr;
      gap: 35px;
  }

  .project-box {
      width: 240px;
      height: 240px;
  }

  .project-img {
      width: 180px;
      height: 180px;
  }


  
}


@media (min-width: 768px) and (max-width: 1607px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
}

/* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */

#nav-target {
  min-height: 140px;
}


#order {
  margin-bottom: 400px;
}

.contact-main {
  background: url(../images/ice1920.png) no-repeat;
  background-size: cover;
}


#home-link a {
  text-decoration: none;
  color:rgb(0, 160, 252);
  font-size: 50px;
}

#home-link a:hover {
  text-decoration: none;
  color:rgb(0, 117, 167);
  font-size: 50px;
}

form {
  text-align: left;
}

button {
  background-color: #00c3ff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 5px;
}

button:hover {
  background-color: #154625;
}

.socials a {
  text-decoration: none;
  color:rgb(0, 160, 252);
  font-size: 30px;
}
  
.socials a:hover {
  text-decoration: none;
  color:rgb(1, 15, 3);
}

label {
  display: block;
  margin-top: 0.5rem;
  color: #00b3ea00;
}  

label h3 {
  color: black;
}

input {
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
}

form {
  margin: 0 auto;
}

input::placeholder {
  font-size: 24px;   
   color: rgb(167, 167, 167);    
  text-align: center;
  font-family: 'league spartan';
  
}

#contact-title h3 {
  display: flex;
  justify-content: center;
  font-size: 35PX;
  color: rgb(116, 116, 116);
  -webkit-text-stroke: .1px #000000;
  font-family: "League Spartan";
  font-weight: 400;
}

#send-btn {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
   color: rgb(167, 167, 167);
  font-family: "League Spartan";
  font-size: 27px;
 
  // border: 2px solid rgb(116, 116, 116);
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.121);
}

#message_input {
  width: 500px;
  height: 200px;
  border-radius: 15px;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.121);
    border: none;
   text-align: center;
}


#name_input {
  margin-bottom: 20px;
  width: 500px;
  height: 40px;
  border-radius: 15px;
   box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.121);
    border: none;
}

#email_input {
  margin-bottom: 20px;
  width: 500px;
  height: 40px;
  border-radius: 15px;
   box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.121);
    border: none;
}

#contactform {
  display: flex;
 justify-content: center; 
 align-items: center;  
}

form {
  margin: 0 auto;
  text-align: center;
}

