.view-project {
    text-decoration: none;
    font-size: 42px;
    background-color: rgba(255, 255, 255, 0.585);
    font-family:  "League Spartan";
    color: rgb(50, 50, 50);
    padding: 35px;
    font-weight: 600;
    border-radius: 14px;
    border: 2px solid #ededed;
    margin-top: 70px;
}



.project-body {
    min-height: 1200px;
}

.project-all-items  {
 text-align: center;
  font-family:  "League Spartan";
  
margin: 0 auto;
}

.project-all-items img {
    border-radius: 20px;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.project-all-items p {
    margin-bottom: 70px;
    font-size: 25px;
    color: rgb(116, 116, 116);
}

.project-all-items h1 {
    color: rgb(65, 65, 65);
}