
/*  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER   */
header {
  /* border-bottom: 2px solid #000000; */
  min-height: 70px;
  margin-bottom: 20px;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.322);
}

header h2 {
  font-family: "Anton", sans-serif;
}

.logo {
  max-width: 100%;
  height: auto;
  max-width: 69px;
}

/* mobile logo  */
.logo {
  width: 200px;
  height: auto;
}

/* tablet logo */
@media (min-width: 768px) {
  .logo {
    width: 220px;
  }
}
/* desktop logo  */
@media (min-width: 1024px) {
  .logo {
    width: 250px;
  }
}
/*  vav styles */
#nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

#nav a {
  text-decoration: none;
  color: #000000;
}

/* nav menu */
.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* burg nav styles  */
.nav-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1001;
}

.nav-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background: #000000;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.934);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: right 0.3s ease;
    z-index: 1000;
  }
  .nav-menu a {
    color: white;
  }
  .nav-menu.running {
    left: 0;
  }
  .nav-toggle.running span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .nav-toggle.running span:nth-child(2) {
    opacity: 0;
  }
  .nav-toggle.running span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  /* showcase section mobile */
  .showcase {
    flex: 0 0 calc(50% - 10px);
  }
}

/* CASE STUDIES  CASE STUDIES  CASE STUDIES  CASE STUDIES  CASE STUDIES   */


.single-project-section {
  padding: 40px 0 60px;
}


.section-title{
  font-family: "league spartan";
}

.subsection-title {
  text-align: center;
  font-size: 18px;
  margin: 10px 0 25px;
  font-family: "league spartan";
}

.project-hero-box {
  max-width: 700px;
  height: 400px;
  margin: 30px auto 40px;
  background-color: #00000000;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-hero-box img {
  height: 300px;
}



.project-hero-img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 40px;
}


.project-small-image-wrap {
  display: flex;
  justify-content: center;
}

.project-small-img {
  max-width: 90%;
  border-radius: 18px;
  height: auto;
}

.project-about-text  {
  font-size: 20px;
  line-height: 1.5;
  font-family: "league spartan";
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto ;
  color: gray;
}

.project-info {
  grid-column: 1 / -1;      
  max-width: 750px;         
  margin: 0 auto 40px;     
}

.project-info-row {
  display: grid;
  grid-template-columns: 160px 1fr;
  column-gap: 40px;
  margin-bottom: 24px;
}

.project-info-label {
  font-weight: 600;
  font-size: 18px;
  font-family: "league spartan";
}

.project-info-text {
  font-size: 14px;
  font-family: "league spartan";
}

.project-info-text p {
  margin: 0 0 4px;
}

.project-goal-text {
  max-width: 800px;
  margin: 0 auto 30px;
  font-size: 20px;
  line-height: 1.5;
  font-family: "league spartan";
  color: gray;
}

.project-mockup-large {
  max-width: 500px;
  height: 650px;
  border-radius: 18px;
  margin: 40px auto;
  background-color: #00000000;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-large-img {
  max-width: 90%;
  height: auto;
  border-radius: 40px;
}

.project-buttons-wrap {
  text-align: center;
  margin-bottom: 30px;
}

.project-btn {
  display: block;
  width: 160px;
  margin: 0 auto 15px;
  padding: 14px 0;
  background-color: #00000000;
  border-radius: 40px;
  border: 2px solid #000000c3;
  text-decoration: none;
  font-size: 34px;
  color: #000000;
  cursor: pointer;
  font-family: "league spartan";
}

.project-btn:hover {
  background-color: #00000022;
  color: #ffffff;
}

@media (max-width: 767px) {

  .project-hero-box {
      height: 320px;
      margin-top: 20px;
  }

 

  .project-about-text {
      grid-column: 1 / -1;
      padding: 0 20px;
  }

  .project-info {
      padding: 0 20px;
  }

  .project-info-row {
      grid-template-columns: 1fr;
      row-gap: 6px;
  }

  .project-info-label {
      font-size: 16px;
      font-family: "league spartan";
  }

  .project-mockup-large {
      height: 580px;
      margin: 30px auto;
  }

  .project-goal-text {
      padding: 0 20px;
  }
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
footer {
  min-height: 600px;
  background-color: rgba(255, 255, 255, 0.265);
  padding-top: 30px;
}

#footer-text {
  display: flex;
  color: rgb(129, 129, 129);
  flex-direction: column;
  font-size: 23px;
  font-family: "League Spartan";
}

#footer-logo {
  width: 400px;
}

#x-icon {
  width: 60px;
}

#insta-icon {
  width: 60px;
}

#linkedin-icon {
  width: 67px;
}

#youtube-icon {
  width: 64px;
  margin-left: 10px;
}

#socials {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#socials img {
  margin-right: 20px;
}

#footer-buttons button {
  background-color: #00000000;
  color: rgb(129, 129, 129);
  margin-right: 20px;
  max-width: 450px;
  padding: 20px 47px;
  border-radius: 70px;
  font-size: 30px;
  cursor: pointer;
  border: 2px solid rgb(129, 129, 129);
  margin-top: 7px;
  font-family: "League Spartan";
}

#footer-buttons h2 {
  color: rgb(129, 129, 129);
  font-size: 30px;
  margin-top: 45px;
  font-family: "League Spartan";
  font-weight: 500;
}

#footer-contact p {
  color: rgb(129, 129, 129);
  font-size: 30px;
  font-family: "League Spartan";
}

#footer-contact button {
  background-color: #00000000;
  color: rgb(129, 129, 129);
  font-family: "League Spartan";
  margin-right: 40px;
  max-width: 450px;
  padding: 20px 137px;
  border-radius: 70px;
  font-size: 30px;
  cursor: pointer;
  border: 2px solid rgb(129, 129, 129);
  margin-top: 50px;
}